Source: purest-json
Section: sound
Priority: optional
Maintainer: Thomas Mayer <thomas@residuum.org>
Build-Depends: debhelper (>= 7.0.50~),
               puredata-dev | puredata (<< 0.43)
Standards-Version: 3.9.2
Homepage: https://github.com/residuum/PuRestJson

Package: purest-json
Architecture: any
Depends: ${shlibs:Depends},
         puredata-core | pd,
         ${misc:Depends}
Recommends: pd-libdir
Suggests: couchdb
Description: pd library for working with JSON data and RESTful webservices
 PuREST JSON is a library for Pure Data for decoding and encoding JSON
 data as well as communication with RESTful webservices, that return
 JSON data.
