Source: pd-purest-json
Section: sound
Priority: optional
Maintainer: Thomas Mayer <thomas@residuum.org>
Build-Depends: debhelper (>= 8.1.3),
               puredata-dev | puredata,
               libjson0-dev,
               libcurl4-gnutls-dev | libcurl4-openssl-dev,
               liboauth-dev
Standards-Version: 3.9.2
Homepage: https://github.com/residuum/PuRestJson

Package: pd-purest-json
Architecture: any
Depends: ${shlibs:Depends},
         puredata-core | pd
Recommends: pd-libdir
Suggests: couchdb
Description: pd library for working with JSON data and RESTful webservices
 PuREST JSON is a library for Pure Data for decoding and encoding JSON
 data as well as communication with RESTful webservices.
